# Dependências
node_modules/

# Build
dist/
build/

# Configs locais
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configs de ferramentas
.eslintrc.js
.prettierrc
.prettierignore

# Sistema
.DS_Store
Thumbs.db

# Outros que você não quer versionar
package-lock.json
